.ui-jqmGrid
{
border-spacing:0;
}

.ui-jqmGrid td, .ui-jqmGrid th
{
padding:4px;
font-weight:400;
}

.ui-jqmGrid-ul
{
-moz-border-radius-topleft:6px;
-webkit-border-top-left-radius:6px;
border-top-left-radius:6px
}

.ui-jqmGrid-ur
{
-moz-border-radius-topright:6px;
-webkit-border-top-right-radius:6px;
border-top-right-radius:6px
}

.ui-jqmGrid-ll
{
-moz-border-radius-bottomleft:6px;
-webkit-border-bottom-left-radius:6px;
border-bottom-left-radius:6px
}

.ui-jqmGrid-lr
{
-moz-border-radius-bottomright:6px;
-webkit-border-bottom-right-radius:6px;
border-bottom-right-radius:6px
}

.ui-jqmGrid-horz
{
border-bottom:1px solid silver;
}

.ui-jqmGrid-left
{
border-left:1px solid silver;
}

.ui-jqmGrid-vert
{
border-right:1px solid silver;
}


.col-Header
{
border-left: 0 !important;
border-top: 0 !important;
border-right:1px solid silver !important;
border-bottom:1px solid silver !important;
}
